<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>#{title}</title>
  style 
      include ../static/style.css 
</head>
<body>
     <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
     </nav>
      <div class="container">
<h1>Get this gym membership upto 60% - Hurry fill this form Now!</h1>
//-    <p>
//-     | #{content}
//-     </p>
<form action="/" Method= 'POST'id=contact>
<input type="text" name="name" placeholder="Enter your name" required>
<input type="email" name="email" placeholder="Enter your email" required>
<input type="text" name="phone" placeholder="Enter your phone number" required>
<input type="text" name="address" placeholder="Enter your address" required>
<button class="btn">Submit</button>
</form>
    </div>

</body>
</html>
